{% extends "layout.html" %}

{% block content %}
<h1>games</h1>
    <div class="grid-container">

        {% for item in results %}
        <div class="grid-item">
            <span>{{ item.game }}</span>
            <img src="static/images/{{ item.image }}">
            <p>{{ item.reviews }}</p>
        </div>
        {%endfor%}
    </div>
{% endblock content %}

{#{% extends "layout.html" %}

{% block content %}

        {% for item in results %}
        <div class="grid-item">
            <span>{{ item[1] }}</span>
            <img src="static/images/{{ item[2] }}" style="width:258px;height: 387px;">
        </div>
        {%endfor%}

{% endblock %}

<div class="wrapper">
    <div class="genre">
        <div>
            <li><a href="/games_genre">genre</a></li>
            <li><a href="/games">All games</a></li>
        </div>
    </div>
    <div class="grid-container">#}
