{% extends "layout.html" %}

{% block content %}
<div class="grid-container">
    <div class="information">
        <div class="release-date">
            <a>Release date</a>
            <p>{{ game.release_date }}</p>
        </div>
        <div class="release-date">
            <a>Gener</a>
            <p>{{ gener.gener }}</p>
        </div>
        <div class="release-date">
            <a>Publisher</a>
            <p>{{ publisher.publisher }}</p>
        </div>
        <div class="release-date">
            <a>Developer</a>
            <p>{{ developer.developer }}</p>
        </div>
    </div>

    <div class="grid-item">
        <div class="individual-card">
            <div class="container">
                <span>{{ game.game }}</span>
            </div>
            <span>
                <a><img src="/static/images/{{ game.image }}"></a>
        </div>
    </div>

</div>

<div>
    </span>
    {% for review in game.reviews %}
    <div class="review">
        <p>{{ review.review }}</p>
    </div>
    {%endfor%}
</div>
{% endblock content %}