<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title></title>
</head>

<body>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/add">Add Review</a></li>
        </ul>
    </div>

    {% block content %}

    {% endblock %}

</body>

</html>